.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px 12px 60px;
    box-shadow: 0 0.1rem 0.5rem rgb(168, 168, 184);
    width: 100%;
    transition: all 0.5s;
    position: fixed;
}

.logo{
    color: #95a868;
    font-size: clamp(0.7rem , 1.6rem, 1.8rem);
    font-weight: 600;
    margin-right: 6%;
}

.nav-menu{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}
.nav-item{
    min-width: 5%;
    max-width: 25%;
    width: auto;
    cursor: pointer;
    font-size: clamp(0.5rem , 1.4rem, 1.5rem);
    background-color: transparent;
}

.nav-item-nome {
    font-size: 1rem;
    color: #232e29;
}

.nav-item a{
    min-width: 5%;
    max-width: 25%;
    color: #0e181b5e;
    font-size: clamp(0.5rem , 1.4rem, 1.5rem);
    font-weight: 500;
    transition: all 0.5s;
    background-color: transparent;

}

.nav-item a:hover{
    color: #78ae62;
}

.nav-icon {
    border-radius: 50%;
    max-width: 45px;
    width: 6%;
    height: 6%;
    margin-left: 14%;
.nav-icon img {
    max-width: 50px;
    min-width: 50px;
    min-height: 50px;
    max-height: 50px;
}

.icon-p{
    width: 100%;
    border-radius: 50%;
}