#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    position: relative;
    align-items: center;
    align-content: center;
}

.icon{
    margin-top: 5px;
    min-width: 80px;
    width: 25%;
    border-radius: 50%;

}

a{
    text-decoration: none;
    color: inherit;
}


.button{
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    background: rgba(53, 53, 53, 53, 0.068);
    color: black;
    border-radius: 50px;
    cursor: pointer;
    font-family: system-ui, sans-serif;

}

.button h2 {
    background-color: transparent;
    font-size: larger;
    font-family: system-ui, sans-serif;  
}

.button:hover{
    background-color: #7fda89;
    color: white;
    box-shadow: black;
}
